{% extends 'register/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'register/home.css' %}">
{% endblock %}


{% block content %}
<div class="container">
    <h2>Welcome, {{ user.username }}</h2>
    <p>Transact with the best.</p>
    <p><strong>YOUR EMAIL:</strong>   {{ user.email }}.</p>
    <p><strong>Wallet Balance:</strong>   {{ user.balance }} {{ user.currency }}.</p>
    <p>Click on this link <a href="{% url 'dashboard' %}">Account</a> to manage your <strong>Transactions.</strong></p>
</div>
{% endblock %}
