/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin-top: 10px;
}

.pages {
    display: flex;
    justify-content: space-around;
    height: 100px;
    width: 100%;
    padding-top: 35px;
    box-shadow: 4px 6px 8px black;
}
.pages:hover {
    background-color: rgb(144, 238, 144);
}
a {
    color:green !important;
    font-size: 20px;
    font-weight: bold;
}
.footer {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    padding: 20px;
    margin-top: 250px;
    position: fixed;
    width: 100%;
    background-color: green;
    text-decoration: underline;
}